   <section id="vise-vijesti">
      <div>
        <h2><a href="novost6.html">Nogomet, prijateljska utakmica</a></h2>
        <p class="meta"><span class="datum">Srijeda, 3.8.2017.</span><span class="autor">Igor Dodik</span></p>
        <h2><a href="#ff">Valentinovo</a></h2>
        <p class="meta"><span class="datum">Četvrtak, 12.8.2017.</span><span class="autor">Tekst: učenica Sara Lušičić</span></p>
        <h2><a href="novost2.html">42. regionalna domijada</a></h2>
        <p class="meta"><span class="datum">Četvrtak, 9.2.2017.</span></p>
        <h2><a href="#rgr">Natjecanje Junior Freshhh</a></h2>
        <p class="meta"><span class="datum">Srijeda, 8.2.2017.</span></p>
      </div>
      <div>
        <h2><a href="novost3.html">Natjecanje domske ekipe mladeži Hrvatskog Crvenog križa</a></h2>
        <p class="meta"><span class="datum">Četvrtak, 9.2.2017.</span></p>
        <h2><a href="novost4.html">Maskenbal u Domu</a></h2>
        <p class="meta"><span class="datum">Srijeda, 8.2.2017.</span></p>
        <h2><a href="novost5.html">Dan ružičastih majica</a></h2>
        <p class="meta"><span class="datum">Četvrtak, 12.8.2017.</span><span class="autor">Tekst: učenica Sara Lušičić</span></p>
        <h2><a href="#rgr">Obilježavanje Međunarodnog dana borbe protiv raka</a></h2>
        <p class="meta"><span class="datum">Četvrtak, 9.2.2017.</span></p>
      </div>

   </section>