{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="hr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Učenički dom Križevci {{title}}</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body class="{{body_class}}">
  
<!-- Title bar (Show for small only) -->
<div id="title-bar" class="show-for-small-only">
  <div id="logo">
    <a href="/"><img src="assets/img/brun-300.jpg" width="50px"></a>
    {{> svg_logo}}
  </div>
  <div id="left-menu-toggle">
    <button class="menu-icon" type="button" ></button>
    <div class="title-bar-title">Izbornik</div>
  </div>
</div>
<!-- End: Title bar -->

<div class="row collapse" id="wrapper">
  <div class="medium-3 columns" id="left-menu-wrapper">
  <!-- #left-menu -->
  <nav id="left-menu" style="width: 300px">
  <a href="/" class="hide-for-small-only">
  <div id="hero-image">
    <img src="assets/img/brun-300.jpg" srcset="assets/img/brun-300.jpg, assets/img/brun-600.jpg 2x" alt="Učenički dom Križevci">
    {{> svg_logo}}
  </div>
  </a>
    <!-- Search form -->
      <div id="search-form" class="row collapse hide">
        <div class="large-8 small-9 columns">
          <input type="text" placeholder="Find Stuff">
        </div>
        <div class="large-4 small-3 columns">
          <a href="#" class="button expand">Search</a>
        </div>
      </div>
      <!-- End: Search form -->
    <ul class="vertical menu" data-accordion-menu>
      <li{{#ifpage 'index'}} class="active"{{/ifpage}}><a href="/index.html">Naslovnica</a></li>
      <li{{#ifpage 'o_domu'}} class="active"{{/ifpage}}><a href="/o_domu.html">O domu</a></li>
      <li{{#ifpage 'fotogalerija'}} class="active"{{/ifpage}}><a href="/fotogalerija.html">Fotogalerija</a></li>
      <li{{#ifpage 'domski_filmovi'}} class="active"{{/ifpage}}><a href="/domski_filmovi.html">Domski filmovi</a></li>
      <li><a href="" title="">Dokumenti</a>
        <ul class="menu vertical nested">
          <li><a href="#">Dokumenti doma</a></li>
          <li><a href="#">Zaključci sjednica Domskog odbora</a></li>
          <li><a href="#">Pristup informacijama</a></li>
          <li><a href="#">Javna nabava</a></li>
          <li><a href="#">Natječaji</a></li>
        </ul></li>
      <li><a href="/djelatnici.aspx" title="popis djelatnika">Djelatnici</a></li>
      <li><a href="/odgojne_skupine.aspx" title="popis odgojnih skupina u Domu">Odgojne skupine</a></li>
      <li><a href="/slobodne_aktivnosti.aspx" title="popis grupa koje se nude učenicima">Slobodne aktivnosti</a></li>
      <li><a href="/posebni_programi.aspx" title="popis posebnih programa">Posebni programi</a></li>
      <li><a href="/domijade.aspx" title="videosnimke s domijada">Domijade</a></li>
      <li><a href="" title="">Križevci</a>
        <ul class="menu vertical nested">
          <li><a href="#">Povijest grada</a></li>
          <li><a href="#">Srednje škole</a></li>
        </ul></li>
    </ul>
  </nav>
  </div>


<!-- #main -->
  <div class="medium-9 columns" id="main">
  <header id="glava">
      <div id="kontakt">
        <a href="kontakt.html">kontakt</a>
      </div>
  <!-- Logo -->
  <a href="/">{{>svg_logo}}</a>
   <p id="time">{{datum}}<span id="vrijeme"><span id="vrijeme_celzijusa"></span><span id="vrijeme_opis"></span><img id="vrijeme_ikona" src=""></span></p> 
 </header>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    <footer>
      <div class="search-form row collapse">
        <div class="large-8 small-9 columns">
          <input type="text" placeholder="Pretraži stranice">
        </div>
        <div class="large-4 small-3 columns">
          <a href="#" class="button expand">Traži</a>
        </div>
      </div>

      <div id="small-print"><p>Copyright 2017. &copy; {{> svg_logo}} Sva prava pridržana.</p>
      <p>Učenički dom Križevci, Ratarna 10, P.P. 37, 48 260 Križevci</p>
      <p>Izrada: Igor Jelen</p></div>
    </footer>
  
  </div> 
  <!-- #main -->
</div>
<!-- #wrapper -->
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>