{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="hr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Učenički dom Križevci {{title}}</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body class="{{body_class}}">
  
<!-- Title bar (Show for small only) -->
<div id="title-bar" class="show-for-small-only">
  <div id="logo">
    <a href="./">
      <img src="assets/img/brun-300.jpg" width="50px">{{> svg_logo}}
    </a>
  </div>
  <div id="left-menu-toggle">
    <button class="menu-icon" type="button" ></button>
    <div class="title-bar-title">Izbornik</div>
  </div>
</div>
<!-- End: Title bar -->

<div class="row collapse" id="wrapper">
  <div class="medium-3 columns" id="left-menu-wrapper">
  <!-- #left-menu -->
  <nav id="left-menu" style="width: 300px">
  <a href="./" class="hide-for-small-only">
  <div id="hero-image">
    <img src="assets/img/brun-300.jpg" srcset="assets/img/brun-300.jpg, assets/img/brun-600.jpg 2x" alt="Učenički dom Križevci">
    {{> svg_logo}}
  </div>
  </a>
    <!-- Search form -->
      <div id="search-form" class="row collapse hide">
        <div class="large-8 small-9 columns">
          <input type="text" placeholder="Find Stuff">
        </div>
        <div class="large-4 small-3 columns">
          <a href="#" class="button expand">Search</a>
        </div>
      </div>
      <!-- End: Search form -->
    <ul class="vertical menu" data-accordion-menu data-multi-open="false">
      <li{{#ifpage 'index'}} class="active"{{/ifpage}}><a href="index.html">Naslovnica</a></li>
      <li{{#ifpage 'kontakt'}} class="active"{{/ifpage}}><a href="kontakt.html">Kontakt</a></li>
      <li{{#ifpage 'o_domu'}} class="active"{{/ifpage}}><a href="o_domu.html">O domu</a></li>
      <li{{#ifpage 'fotogalerija'}} class="active"{{/ifpage}}><a href="fotogalerija.html">Fotogalerija</a></li>
      <li{{#ifpage 'domski_filmovi'}} class="active"{{/ifpage}}><a href="domski_filmovi.html">Domski filmovi</a></li>
      <li{{#ifpage 'ucenicki_radovi'}} class="active"{{/ifpage}}><a href="ucenicki_radovi.html">Učenički radovi</a></li>
      <li{{#ifpage 'dokumenti_doma' 'zakljucci_sjednica' 'pristup_informacijama' 'javna_nabava' 'natjecaji'}} class="active"{{/ifpage}}><a href="" title="">Dokumenti</a>
        <ul class="menu vertical nested{{#ifpage 'dokumenti_doma' 'zakljucci_sjednica' 'pristup_informacijama' 'javna_nabava' 'natjecaji'}} is-active{{/ifpage}}">
          <li{{#ifpage 'dokumenti_doma'}} class="active"{{/ifpage}}><a href="dokumenti_doma.html">Dokumenti doma</a></li>
          <li{{#ifpage 'zakljucci_sjednica'}} class="active"{{/ifpage}}><a href="zakljucci_sjednica.html">Zaključci sjednica Domskog odbora</a></li>
          <li{{#ifpage 'pristup_informacijama'}} class="active"{{/ifpage}}><a href="pristup_informacijama.html">Pristup informacijama</a></li>
          <li{{#ifpage 'javna_nabava'}} class="active"{{/ifpage}}><a href="javna_nabava.html">Javna nabava</a></li>
          <li{{#ifpage 'natjecaji'}} class="active"{{/ifpage}}><a href="natjecaji.html">Natječaji</a></li>
        </ul></li>
      <li{{#ifpage 'djelatnici'}} class="active"{{/ifpage}}><a href="djelatnici.html" title="popis djelatnika">Djelatnici</a></li>
      <li{{#ifpage 'odgojne_skupine'}} class="active"{{/ifpage}}><a href="odgojne_skupine.html">Odgojne skupine</a></li>
      <li{{#ifpage 'slobodne_aktivnosti'}} class="active"{{/ifpage}}><a href="slobodne_aktivnosti.html">Slobodne aktivnosti</a></li>
      <li{{#ifpage 'posebni_programi'}} class="active"{{/ifpage}}><a href="posebni_programi.html">Posebni programi</a></li>
      <li{{#ifpage 'krizevci'}} class="active"{{/ifpage}}><a href="krizevci.html">Križevci</a></li>
    </ul>
  </nav>
  </div>


<!-- #main -->
  <div class="medium-9 columns" id="main">
  <header id="glava">
      <div id="kontakt">
        <a href="kontakt.html">kontakt</a>
      </div>
  <!-- Logo -->
  <a href="./">{{>svg_logo}}</a>
   <p id="time">{{datum}}<span id="vrijeme"><span id="vrijeme_celzijusa"></span><span id="vrijeme_opis"></span><img id="vrijeme_ikona" src=""></span></p> 
 </header>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    <footer>
      <div class="search-form row collapse">
        <div class="large-8 small-9 columns">
          <input type="text" placeholder="Pretraži stranice">
        </div>
        <div class="large-4 small-3 columns">
          <a href="#" class="button expand">Traži</a>
        </div>
      </div>

      <div id="small-print"><p>Copyright 2017. &copy; {{> svg_logo}} Sva prava pridržana.</p>
      <p>Učenički dom Križevci, Ratarna 10, P.P. 37, 48 260 Križevci</p>
      <p>Izrada: Igor Jelen</p></div>
    </footer>
  
  </div> 
  <!-- #main -->
</div>
<!-- #wrapper -->
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>